---
vault_postgres_password: changeme_secure_password_here
vault_kafka_password: changeme_kafka_password
vault_oauth_client_secret: changeme_oauth_secret

vault_ssh_private_key: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  REPLACE_WITH_YOUR_ENCRYPTED_PRIVATE_KEY
  -----END OPENSSH PRIVATE KEY-----

vault_db_backup_encryption_key: changeme_encryption_key

vault_docker_registry_user: registry_username
vault_docker_registry_password: registry_password

vault_api_keys:
  github: changeme_github_token
  slack: changeme_slack_webhook

